@font-face {
  font-family: "iconfont"; /* Project id 2355874 */
  src: url('iconfont.woff2?t=1627814275416') format('woff2'),
       url('iconfont.woff?t=1627814275416') format('woff'),
       url('iconfont.ttf?t=1627814275416') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconguanbi:before {
  content: "\e609";
}

.iconchenggong:before {
  content: "\e634";
}

.iconshibai:before {
  content: "\e671";
}

.iconshoudiantong1:before {
  content: "\e633";
}

.iconmima54:before {
  content: "\e602";
}

.iconuser-c:before {
  content: "\e603";
}

.iconjiantou-left:before {
  content: "\e601";
}

.iconyoulanche:before {
  content: "\e611";
}

.iconxuanzhong:before {
  content: "\e62e";
}

.iconquwang:before {
  content: "\e62c";
}

.iconwurenche:before {
  content: "\e62d";
}

.iconup:before {
  content: "\e600";
}

.icondown:before {
  content: "\e7ef";
}

.iconright:before {
  content: "\e7f0";
}

.iconleft:before {
  content: "\e7f1";
}

.iconhangchengguihua:before {
  content: "\e682";
}

.iconshijian1:before {
  content: "\e684";
}

.icondanju:before {
  content: "\e685";
}

.iconicon-test:before {
  content: "\e7ee";
}

.iconjian:before {
  content: "\e6c2";
}

.iconjiantou:before {
  content: "\e608";
}

.iconjiantou1:before {
  content: "\e616";
}

